<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/styles/bundle.css' />
  </head>
  <body>
    {{{body}}}

    <script src="/scripts/bundle.js"></script>
  </body>
</html>
